html,
body {
  height: 100%;
}
header {
  height: 75px;
  background-color: #9fd0d4;
  padding-left: 50px;
  border-radius: 50px;
}
header h1 {
  margin: 5px;
}
header img {
  width: 70px;
  vertical-align: middle;
}
header a {
  text-decoration: none;
  color: white;
  line-height: 75px;
}
nav {
  height: 50px;
  text-align: center;
  background-color: #cfe1e8;
  border-radius: 50px;
}
nav ul {
  margin: 10px;
}
nav ul :hover {
  font-size: 1.2em;
}
nav li {
  margin: 30px;
  display: inline;
  list-style: none;
  letter-spacing: 3px;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  line-height: 50px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#left {
  text-align: center;
  background-color: #b7d7e8;
  float: left;
  width: 20%;
  height: 100%;
  margin-top: 10px;
  color: white;
  border-radius: 20px;
}
#left ul {
  list-style: none;
  padding: 0px;
  background-color: #87bdd6;
}
#left li {
  height: 50px;
  border: 1px solid white;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#left ul :hover {
  background-color: #9fd0d4;
  font-size: 1.2em;
}
#left a {
  text-decoration: none;
  color: white;
}
#main {
  float: left;
  width: 60%;
  height: 100%;
  margin-top: 10px;
  text-align: center;
}
#article1 {
  height: 100%;
}
#main iframe {
  border: none;
  display: inline;
  width: 95%;
  height: 100%;
}
#right {
  box-sizing: border-box;
  float: left;
  width: 20%;
  height: 100%;
  margin-top: 10px;
  padding: 20px;
  padding-top: 0px;
  background-color: #b7d7e8;
  border-radius: 20px;
  color: white;
}
#right h3 {
  color: white;
}
#id,
#pw {
  width: 70%;
}
footer {
  position: fixed;
  bottom: 0px;
  float: left;
  clear: both;
  background-color: #daebea;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  line-height: 20px;
}
