.box {
  border: 1px solid gray;
  float: left;
  width: 30%;
  height: 480px;
  margin-top: 5px;
  /* padding: 30px; */
  background-color: #fafafa;
}
.pic {
  text-align: center;
}
img {
  width: 100%;
}
audio {
  width: 100%;
}
video {
  width: 700px;
}
button {
  width: 250px;
  margin: 1px;
  padding: 10px;
}
